*{
    padding: 0;
    margin: 0;
}
form{
    margin: 80px;
    background-color: rgb(241, 227, 255);
    padding: 40px;
    border: 1px solid gray;
    box-shadow: 0 0 20px gray;
}
input{
    padding: 8px;
    border-radius: 5px;
    width: 60%;
}
h3{
    padding-bottom: 18px;
    font-size: 28px;
    color: rgb(65, 62, 62);
}
.btn{
    background-color: rgb(73, 72, 72);
    color: white;
    padding: 10px 15px;
    border: 2px solid gray;
    border-radius: 10px;
}
p{
    padding-top: 10px;
}
a{
    font-size: 20px;
}
label{
    font-size: 20px;
}